html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  margin:0;
  padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
  display:block;
}

body
{
  max-width:1280px;
  min-width:960px;
  background:#222;
  color:#444;
  font-size:12px;
  /*line-height:17px;*/
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:32px auto;
  padding:0 24px;
}

ol,ul
{
  list-style:none;
}

blockquote,q
{
  quotes:none;
}

.key_select
{
	min-width:300px;
	width:20%;
}

.small
{
	width:0px;
}

.large
{
	width:100%;
}

blockquote:before,blockquote:after,q:before,q:after
{
  content:none;
}

table
{
  border-spacing:0;
  border-collapse:collapse;
  width:100%;
  margin-bottom:24px;
}

a
{
  text-decoration:underline;
  color:#222;
}

a:hover
{
  color:#444;
}

h1,h2,h3,h4
{
  color:#222;
  font-weight:700;
  text-align:center;
  margin:0 0 16px;
}

h1
{
  font-size:24px;
}

h2
{
  font-size:20px;
}

h3
{
  font-size:16px;
}

ul,ol,p,blockquote
{
  margin-bottom:16px;
}

ul
{
  list-style:disc outside;
  padding-left:18px;
}

ul.nobullet,ol.nobullet
{
  padding-left:0;
  list-style:none;
}

blockquote
{
  border-left:4px solid #999;
  background:#ccc;
  padding:24px 24px 24px 20px;
}

pre
{
	background:#ccc;
	font-family: monospace;
	padding:5px;
}

input
{
  font-family:"Helvetica Neue", Arial, sans-serif;
  height:24px;
  line-height:24px;
  color:#666;
  background:#fff;
  border:1px solid #ccc;
  border-radius:2px;
  box-shadow:0 1px 0 #fff, inset 0 0 6px rgba(0,0,0,.1);
  padding:0 12px;
}

textarea
{
  color:#444;
  background:#fff;
  border:1px solid #ccc;
  border-radius:2px;
  box-shadow:0 1px 0 #fff, inset 0 0 6px rgba(0,0,0,.1);
  font-family:"Helvetica Neue", Arial, sans-serif;
  padding:12px;
}

.upload
{
  width: 800px;
  margin: 0px auto;
}

tr
{
  background:#e3e3e3;
}

tr.cancel_nth
{
	background:#e3e3e3;
}

tr:nth-child(even)
{
  background:#cfcfcf;
}

td
{
  min-height:24px;
  border-left:1px solid #ddd;
  max-width:528px;
  vertical-align:middle;
  padding:4px 6px;
}

td:first-child
{
  border:none;
}

td.body
{
  vertical-align:top;
  border:none;
  padding:24px;
  overflow:auto;
}

td h3,td h4,.left
{
  text-align:left;
}

.box tr:nth-child(even),table table tr:nth-child(even)
{
  background:#e9e9e9;
}

tr.colhead,tr.colhead_dark,.head
{
  background:#444!important;
  color:#eee;
  font-weight:700;
  border-radius:5px 5px 0 0;
}

tr.colhead td:first-child,tr.colhead_dark td:first-child
{
  border-radius:5px 0 0 0;
}

tr.colhead td:last-child,tr.colhead_dark td:last-child
{
  border-radius:0 5px 0 0;
}

tr.colhead td:first-child:last-child,tr.colhead_dark td:first-child:last-child
{
  border-radius:5px 5px 0 0;
}

td h4,td p
{
  margin:0;
}

.r00
{
  color:red!important;
}

.r03
{
  color:#FF2600!important;
}

.r04
{
  color:#FF4C00!important;
}

.r07
{
  color:#FF7100!important;
}

.r08
{
  color:#FF9700!important;
}

.r09
{
  color:#FA0!important;
}

.r10
{
  color:#74C42E!important;
}

.hidden
{
  left:-10000px;
  position:absolute;
}

.hide
{
  display:none;
}

.thin:after
{
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
  font-size:0;
}

#header
{
  color:#eee;
}

#header a
{
  color:#ccc;
}

#header ul
{
  list-style:none;
  padding-left:0;
}

#header li
{
  display:inline-block;
  margin:0 6px;
}

#logo
{
  width:400px;
  height:72px;
  background:url(logo.png) no-repeat center center;
  float:left;
  clear:left;
  margin-bottom:24px;
  position:relative;
}

.unread_icon
{
	width:24px;
	height:24px;
	background:url(unread.png) no-repeat center center;
}

.read_icon
{
	width:24px;
	height:24px;
	background:url(read.png) no-repeat center center;
}

#logo a
{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#userinfo
{
  float:right;
  clear:right;
  text-align:right;
  margin-bottom:24px;
}

#userinfo ul
{
  margin-bottom:0;
}

.r01,.r02
{
  color:#FF1300;
}

.r05,.r06
{
  color:#FF5E00;
}

.r20,.r50,.r99
{
  color:#418B00;
}

#menu
{
  clear:both;
  height:54px;
  background:#efefef url(nav_shadow.png) center 38px no-repeat;
  border-radius:5px 5px 0 0;
  text-align:center;
  padding:0 12px;
}

#menu li
{
  display:inline-block;
  margin:0;
}

#menu a
{
  text-decoration:none;
  color:#222;
  text-transform:uppercase;
  font-size:13px;
  height:38px;
  line-height:38px;
  display:inline-block;
  text-shadow:0 1px #fff;
  padding:0 12px;
}

#menu a:hover
{
  color:#444;
  height:37px;
  border-bottom:1px solid #666;
}

#alerts
{
  background:#efefef;
  padding:0 24px 1px;
}

#searchbars
{
  height:40px;
  background:#efefef;
  text-align:center;
  margin-top:-1px;
  padding:0 12px;
}

#content
{
  background:#efefef;
  border-radius:0 0 5px 5px;
  margin-bottom:48px;
  padding:0 24px 24px;
}

#content:after
{
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
  font-size:0;
}

.box
{
  background:#e3e3e3;
  margin-bottom:16px;
}

.head
{
  padding:6px 12px;
}

.sidebar
{
  float:right;
  clear:right;
  width:240px;
}

.stat
{
  min-width:96px;
}

.stats
{
  padding:12px!important;
}

.main_column
{
  margin-right:264px;
}

.x
{
	color: red;
	font-size: 3em;
}

.check
{
	color: green;
	font-size: 3em;
}

td.metadata
{
	padding: 10px;
}

#footer
{
  color:#999;
  text-align:center;
}

.linkbox
{
  margin-bottom:12px;
  text-align:center;
}

.tags
{
  font-size:10px;
}

.tags a
{
  color:#666;
}

.avatar
{
  width:150px;
  vertical-align:top;
  padding:0;
}

.snatched
{
  background:#f5efba!important;
}

.save_message
{
  background:#57A957;
  color:#fff;
  border-radius:5px;
  text-align:center;
  margin-bottom:24px;
  padding:6px 12px;
}

.elem_error
{
  border:3px solid #B00D0D;
}

.curtain
{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000;
  z-index:1001;
  opacity:0.8;
}

.metadata_table
{
	margin: 0px;
}

.lightbox
{
  display:none;
  position:fixed;
  text-align:center;
  top:5%;
  left:5%;
  width:90%;
  height:90%;
  z-index:1002;
  overflow:auto;
  padding:0;
}

span.size1 {
font-size:.75em;
}

span.size2 {
font-size:1em;
}

span.size3 {
font-size:1.25em;
}

span.size4 {
font-size:1.5em;
}

span.size5 {
font-size:1.75em;
}

span.size6 {
font-size:2em;
}

span.size7 {
font-size:2.25em;
}

span.size8 {
font-size:2.5em;
}

span.size9 {
font-size:2.75em;
}

span.size10 {
font-size:3em;
}

.center
{
  text-align:center;
  vertical-align:middle;
}

#tickets td div
{
  line-height:1em;
}

strong,.label
{
  font-weight:700;
}

em
{
	font-style:italic;
}

u
{
	text-decoration:underline;
}

s
{
	text-decoration:line-through;
}

/* oh why am I doing this no please stop */
blink
{
	text-decoration: blink;
}

.automargin
{
	margin-left: auto;
	margin-right: auto;
}

.box table tr,table table tr,.box .box
{
  background:#efefef;
}

tr.colhead a,tr.colhead_dark a,.head a,#header a:hover,.head a
{
  color:#fff;
}

.pad,.box
{
  padding:10px;
}
.body
{
padding:10px;
overflow:auto;
}

.alertbar,.error_message
{
  background:#C43C35;
  color:#fff;
  border-radius:5px;
  text-align:center;
  margin-bottom:24px;
  padding:6px 12px;
}

.head .date,.group_torrent span,.right
{
  float:right;
}

.close
{
	float:right;
	font-size: 12pt;
}

.smallinfo {
  font-size: 8pt;
  vertical-align: center;
  opacity: 0.75;
}

#ratiograph {
  min-height: 180px;
}

#ratiohistory {
  display: none;
}

.exchange_table {
  width: 750px;
  margin: 0px auto 0px auto;
}

.exchange_table .action {
  width: 100px;
}

.exchange_table .price {
  width: 100px;
}

.exchange_table .tax {
  width: 50px;
}

.staff_box {
  width: 750px;
  margin: 0px auto 0px auto;
}

/* BBCode Specific */
.bbcode_quote_head
{
  font-weight: bold;
}

.bbcode_quote_body
{
  border-left:4px solid #999;
  background:#ccc;
  padding:24px 24px 24px 20px;
  margin-bottom: 10px;
}

.bbcode_code_body
{
  background: #CCC;
  font-family: monospace;
  padding: 5px;
  white-space: pre;
}

.bbcode_align_left
{
  text-align: left;
}

.bbcode_align_right
{
  text-align: right;
}
